{% extends 'chama/index.html' %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-6">
		<h1 class="mt-4 mb-3" style="font-family: 'SIMPSON';">Application for a membership</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'chamatu:index' %}">Home</a>
			</li>
			<li class="breadcrumb-item active">memberform</li>
		</ol>
		<div class="row">
            <div style="border: 0.1px solid #06C0C0; padding: 20px;">
            	{% load el_pagination_tags %}
				{% load markdown_deux_tags %}
				{% if member %}
				  <h2>Thanks for the application.</h2>
				{% else %}
				{# Load the tag library #}
				{% load bootstrap3 %}

				{# Load CSS and JavaScript #}
				{% bootstrap_javascript %}

				{# Display django.contrib.messages as Bootstrap alerts #}
				{% bootstrap_messages %}

				{# Display a form #}
				{% load crispy_forms_tags %}
				<h2 style="font-size: 22px; font-family: 'SIMPSON';">Fill in to apply</h2>
				<form action="." method="post">
					{% csrf_token %}
					{% bootstrap_form member_form layout='inline' %}
					{% buttons %}
					<button class="btn btn-default" style="background-color: #45B39D; color: white;">
						{% bootstrap_icon "star" %} Submit
					</button><br><br>
					{% endbuttons %}
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}