{% extends 'chama/index.html' %}

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static '/chama/css/styles.css' %}" type="text/css"> {% block head %}
    <title>base</title>
    {% endblock %}
</head>
{% block content %}

<body>
    <div class="container-fluid">
        <h1 class="mt-4 mb-3" style="font-family: 'SIMPSON'; margin-left: 1.5em;">Change password</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'chamatu:index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">change-password</li>
        </ol><br /><br /><br />
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="border: 0.1px solid #06C0C0; padding: 20px;">
                {# Load the tag library #} {% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %} {# Display a form #}
                <form action="" method="post" class="form">
                    <h1 style="text-align: center; font-family: 'SIMPSON';">Change your password</h1>
                    {% csrf_token %} {% bootstrap_form form layout='inline' %} {% buttons %}
                    <button class="btn btn-default" type="submit" name="submit" style="background-color: #45B39D; color:white; width: 100%;">
                                {% bootstrap_icon "star" %} Change password
                            </button> {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>