{% extends 'base.html' %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
                integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static '/chama/css/styles.css' %}" type="text/css">
        {% block head %}
        <title>base</title>
        {% endblock %}
    </head>
{% block content %}
    <body><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class="col-md-4 col-md-offset-4" style="border: 0.1px solid #06C0C0; padding: 20px;">
            {# Load the tag library #}
            {% load bootstrap3 %}

            {# Load CSS and JavaScript #}
            {% bootstrap_css %}
            {% bootstrap_javascript %}

            {# Display django.contrib.messages as Bootstrap alerts #}
            {% bootstrap_messages %}

            {# Display a form #}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" class="form">
                <h1 style="text-align: center; font-family: 'SIMPSON';">Register new account</h1><br />
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                    <button class="btn btn-primary" style="width:100%; background: rgba(0, 0, 10, 25);">
                        {% bootstrap_icon "star" %} Sign up
                    </button><br /><br />
                    <p>You have an account<a class="btn btn-link" href="{% url 'chamatu:login' %}" style="color: #256B6B;">login here</a></p>
                {% endbuttons %}
            </form>
        </div>
    </body>
{% endblock %}
</html>